* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(207, 198, 198);
	font-family: Verdana;
	font-size: 18px;
}

#container {
	display: flex;
	justify-content: space-around;
}

#right_container {
	display: flex;
	flex-direction: column;
	margin: 2vw 2vw 2vw 12vw;
	width: 88vw;
}

p, .example_code {
	margin-bottom: 1em;
}

h3 {
	background-color: white;
	margin-bottom: 0.5em;
}

/* NAVBAR STYLES */

#navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	left: 0;
	background-color: hotpink;
	width: 10vw;
	height: 100vh;
}

li {
	list-style-type: none;
}

nav li {
	width: 100%;
	margin-bottom: 1em;
}

ul li ul.dropdown {
    display: none;
	background-color: wheat;
}

ul li:hover ul.dropdown {
	display: block;
	width: 100%;
}

ul li:hover ul.dropdown li {
    display: block;
}

ul li:hover ul li:hover {
    background-color: lightskyblue;
}

nav header {
	margin-bottom: 2em;
}
/* SECTION STYLES */

.main-section {
	margin: 1.5em 3em;
}

h1 {
	text-align: center;
}

#intro_to_flexbox {
	background-color: aquamarine;
}

#basic_terminology img {
	width: 60%;
	display: block;
	margin: 0 auto;
}

#parent_properties {
	background-color: rgb(255, 200, 127);
}

#child_properties {
	background-color: rgb(127, 229, 255);
}

a{
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
}

.flex_item {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

.first_box {
	background-color: mediumpurple;
	width: 100px;
}

.second_box {
	background-color: gold;
	width: 100px;
}

.third_box {
	background-color: palevioletred;
	width: 100px;
}

.boxbg {
	background-color: lightsteelblue;
	padding: 2em;
}

.example_code {
	background-color: white;
	width: 70%;
	padding: 3em 0;
	margin: 1em auto;
}

.row_reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column_reverse {
	flex-direction: column-reverse;
}

#order_2 {
	order: 1;
}

#order_minus1 {
	order: -1;
}

code {
	background-color: black;
	color: greenyellow;
}

.center_horiz {
	justify-content: center;
}
